
*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
  background-color: white;
  overflow-x: hidden;
}

.heading2 {
 font-size: 1.9rem;
 font-weight: bold;
 font-style: initial;
 text-align: center;
 margin-bottom: 7rem;
}

.container {
 width: 100%;
 display: flex;
 flex-direction: row;
 margin: 1.5rem;
 justify-content: space-around;

}

img {
 width: 350px;
 height: 400px;
}

.article {
  margin-left: 3rem;
  margin-right: 3rem;
}

.article h1 span {
 text-decoration: underline;
 font-size: 3rem;
 margin-top: 5rem;
 text-decoration-line: underline;
 text-decoration-color: blanchedalmond
}
.article h1{
 text-align: center;
 font-size: 2.4rem;
 font-style: initial;
 margin-bottom: 3.6rem;
}

.article p {
 margin-bottom: 2rem;
 font-size: 17px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center; 
}

.myButton {
 display: flex;
 justify-content: end;
}

.button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: blue;
  cursor: pointer; 
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button:hover {
  background-color: rgb(96, 121, 167);
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(218, 93, 93, 0.6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}


.form_container  h1  {
  font-size: 25px;
  margin-bottom:1.5rem;  
}

.form_container {
  
  border-radius: 5px;
  background: rgb(235, 231, 231);
  padding: 1.3rem;
  margin: 5rem;
  border-radius: 2px  rgb(88, 80, 80);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

@media (max-width: 750px) { 

  .heading2 {
    margin-bottom: 0;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: .4rem;
    z-index: 1;
  }

  .container img {
    margin: 20px 20px;
  }
}
  
